<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='js/materialize.js') }}">
    
    <style>
        body {
            font-family: 'Roboto Mono';font-size: 15px;
        }
    </style>
</head>
<body >
      <nav class="top-nav">
            <div class="nav-wrapper centre grey lighten-5">
             
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a id="logo-container" href="/" class="brand-logo noHover">
                      <object id="front-page-logo" type="image/svg+xml" data="{{ url_for('static', filename='img/logo.png')}}"></object></a>
                </li>
              </ul>
            </div>
        </nav>
	<div >
        {% block content %}
        {% endblock %}
	</div>
</body>
</html>